.page-layout {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.switch-input {
    width: 100%;
    position: relative;
    &.Mui-disabled {
        .MuiFormControl-root {
            pointer-events: none;
            label {
                color: var(--input-placeholder);
            }
            .MuiInputBase-root {
                background: var(--action-disabled);
            }
        }
        .MuiToggleButtonGroup-root {
            pointer-events: none;
            .MuiToggleButton-root {
                background: var(--action-disabled);
            }
        }
        .MuiFormControlLabel-root {
            pointer-events: none;
            .MuiCheckbox-root {
                .MuiSvgIcon-root {
                    fill: var(--action-disabled);
                }
            }
            .MuiRadio-root {
                .MuiSvgIcon-root {
                    fill: var(--action-disabled);
                }
            }
        }
        .MuiRating-root {
            pointer-events: none;
            .MuiRating-icon {
                svg {
                    fill: var(--action-disabled);
                }
            }
        }
        .MuiSwitch-root {
            pointer-events: none;
            .MuiSwitch-track {
                background: var(--action-disabled);
            }
        }
        .MuiSlider-root {
            pointer-events: none;
            color: var(--action-disabled);
        }
    }
    .MuiFormControl-root {
        width: 100%;
        label {
            color: var(--input-label);
        }
        .MuiInputBase-root {
            background: var(--input-background);
            .MuiSelect-select, input, textarea, select {
                color: var(--input-text-color);

            }
            .MuiInputAdornment-root {
                p {
                    color: var(--input-placeholder);
                }
                svg {
                    fill: var(--input-placeholder);
                }
            }
            .MuiSelect-icon {
                fill: var(--input-placeholder);
            }
        }
        .MuiFormHelperText-root {
            color: var(--input-placeholder);
        }
    }
    .MuiToggleButtonGroup-root {
        .MuiToggleButton-root {
            background: var(--input-background);
            color: var(--input-text-color);
            &:hover {
                background: var(--input-hover);
            }
            &.Mui-selected {
                background: var(--input-hover);
            }
        }
    }
    .MuiFormControlLabel-root {
        .MuiCheckbox-root {
            .MuiSvgIcon-root {
                fill: var(--input-border);
            }
        }
        .MuiTypography-root {
            color: var(--input-placeholder) !important;
        }
        .MuiRadio-root {
            .MuiSvgIcon-root {
                fill: var(--input-text-color);
            }
        }
    }
    .MuiRating-root {
        .MuiRating-icon {
            svg {
                fill: var(--input-text-color);
            }
        }
    }
    .MuiSwitch-root {
        .Mui-checked {
            color: var(--input-hover);
        }
        .Mui-checked + .MuiSwitch-track {
            background: var(--input-hover);
        }
        .MuiSwitch-track {
            background: var(--input-background);
        }
    }
    .MuiSlider-root {
        color: var(--input-text-color);
    }
}
@media only screen and (max-width: 900px), screen and (max-height: 600px) {
    .page-layout {
        padding-bottom: 56px !important;
    }
}
