:host {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  height: 100vh;
}
.padBottom {
  padding-bottom: 80px;
}
.wrap {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #333;
  svg {
    display: block;
    margin: 0 auto;
    overflow: inherit;
  }
  top: 0;
}
.curve {
  stroke-width: 1px;
  stroke-opacity: 0;
}
.svgContainer {
  position: fixed;
  top: -50%;
}
.pathAttribute {
  opacity: 0.4;
}
