:root {
  --theme-white-gradient: linear-gradient(#ffffff, rgba(255, 255, 255, 0));
}
.renderContainer {
  display: grid;
  grid-template-rows: 56px auto;
  height: 100vh;
  .topContainer {
    z-index: 20;
    width: 100%;
    height: 56px;
  }
  .bottomContainer {
    display: flex;
    height: 100%;
    .scrollComponent {
      .mainContent {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.contentContainer {
  width: 100%;
  overflow: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  .headline.one {
    padding: 32px 24px 12px 12px;
    padding: 8px 24px;
    background-color: var(--theme-primary-background);
    border-radius: var(--round-small);
    box-shadow: var(--theme-shadow-light);
  }
}
.contentBackground {
  background-color: var(--theme-primary-background);
  box-shadow: var(--theme-shadow-light);
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
  border-radius: var(--round-small);
  animation: fadeSlideLeft 0.167s forwards;
}
.contentContainer.Dystopia {
  background-color: var(--theme-secondary-background);
  height: 100%;
  padding: 30px;
  .pageLabelGlitch {
    position: relative;
    font-size: 60px;
    color: var(--color-primary);
    animation: fuzzGlitch 0.02s infinite;
  }
}
.Enterprise {
  * {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  .scrollComponent {
    background: linear-gradient(var(--theme-primary), var(--theme-secondary));
    padding: 16px;
    .mainContent {
      max-width: 1000px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      row-gap: 16px;
    }
  }
}
.Spooky {
  * {
    font-family: "Nightscary Free Trial";

    .button,
    .headline {
      font-family: "Luxurious Roman", cursive;
    }
  }
  .horizontal {
    background-color: var(--theme-secondary);
    animation: creepyNav 10s infinite;
  }
  .scrollComponent {
    background-color: var(--theme-secondary-background);
    padding: 16px;
  }
}
.Safari {
  * {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
.Arcade {
  * {
    font-family: monospace;
  }
}
.Dystopia {
  * {
    font-family: "Nightscary Free Trial";
  }
}
.Resume,
.Projects,
.Contact {
  .parallaxBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    overflow: hidden;
  }

  .centerResumeContainer {
    max-width: 900px;
    margin: auto;
    background-color: var(--theme-secondary-background);
    padding: 32px 0;
    border-radius: var(--round-medium);
    animation: fadeSlideLeft 0.167s forwards;
    align-items: center;
    display: flex;
    flex-direction: column;

    .button {
      margin-top: 16px;
    }
  }
  * {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    svg {
      text {
        font-family: "Jura", Tahoma, Geneva, Verdana, sans-serif !important;
      }
    }
  }
}
.mainContent.Resume,
.mainContent.Projects,
.mainContent.Contact {
  background: none !important;
  padding: 0 !important;
  perspective: 1px;
  height: 100%;
  overflow-x: hidden;

  .parallax_layer.one {
    > .headline.one.textTitle {
      margin-top: 20%;
      font-size: 60px;
      font-family: "Jura", sans-serif;
    }
  }
}
.mainContent.Contact {
  overflow-y: hidden !important;
  display: flex;
}
.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax_layer.one {
  transform: translateZ(0);
}
.parallax_layer.two {
  transform: translateZ(-1px);
}
.parallax_layer.three {
  transform: translateZ(-2px);
}
.cardContainer {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 32px;
  row-gap: 16px;
  margin-top: 16px;
}
.threeCols {
  grid-template-columns: auto auto auto;
}
.animationOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}
.card {
  box-shadow: var(--theme-shadow-light);
  padding: 8px 16px 32px 32px;
  background: linear-gradient(#18296b, #0e1638);
  border-radius: var(--round-medium);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text {
    fill: var(--theme-white);
  }
  svg {
    > rect {
      fill: transparent;
    }
  }
  > .headline.two {
    position: absolute;
    pointer-events: none;
    z-index: 99;
    align-self: flex-start;
    margin-bottom: 24px;
    color: var(--theme-white);
    align-self: flex-end;
    border-radius: var(--round-small);
    transform: translateX(24px);
  }
  > .headline.three {
    align-self: flex-start;
    margin: 16px 0 16px 8px;
    font-weight: 600;
  }
  .headline.four {
    font-weight: 600;
  }
  .headline.five.textSecondary {
    margin-top: auto;
    width: 62px;
    text-align: center;
    border-radius: var(--round-small);
    border: 1px solid var(--theme-primary);
    color: var(--theme-primary);
    padding: 8px 16px;
    transition: 0.167s ease-in-out;
  }
  .headline.five.textSecondary:hover {
    background-color: var(--theme-primary);
    color: var(--theme-white);
    cursor: pointer;
  }
}
.chart {
  :nth-child(2) {
    margin: auto;
    margin-top: 32px;
  }
}
.designBackgroundContainer {
  margin: 0 auto;
  max-width: 2400px;
  top: 0;
  width: 100%;
}
.designBackground {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1000px), screen and (max-height: 1000px) {
  .parallax_layer.two {
    transform: translateZ(-1px) scale(2);
  }
}
@media only screen and (max-width: 1000px), screen and (max-height: 1000px) {
  .scrollComponent {
    padding: 0px !important;
  }
  .cardContainer {
    grid-template-columns: auto !important;
    .card {
      padding: 8px 0px 32px 0px !important;
      .chart {
        max-width: var(--width);
      }
    }
  }
  .parallax_layer.two {
    transform: translateZ(-1px) scale(2);
  }
  .gridContext {
    grid-template-columns: auto auto !important;
    row-gap: 32px;
    column-gap: 24px !important;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: flex-start;
    width: 90% !important;
  }

  .hero-section {
    width: 100%;
    .center {
      padding: 16px !important;
      .link {
        padding: 8px !important;
      }
    }
  }
}
