.Resume,
.Projects,
.Contact {
  .mainContent {
    .headline.one {
      text-align: center;
    }
    .displayContainer {
      margin-top: 24px;
      .headline.two {
        border-left: var(--theme-text-primary) 24px solid;
        padding-left: 12px;
      }
    }
  }
}

.jobElementContainer {
  li {
    list-style: none; /* Remove default bullets */
    display: flex;
    align-items: center;
  }

  ul li::before {
    color: var(--theme-text-teritary); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    margin-right: 1em; /* Also needed for space (tweak if needed) */
  }
  .gridContext {
    margin-top: 48px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 48px;
  }
  .fullContext {
    padding-left: 0;
    .jobElementContainer {
      margin-top: 8px;
    }
  }
}
.displayContainer {
  li {
    list-style: none; /* Remove default bullets */
    display: flex;
    align-items: center;
    .headline {
      text-align: left;
    }
  }

  ul li::before {
    color: var(--theme-text-teritary); /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    margin-right: 1em; /* Also needed for space (tweak if needed) */
  }
  .gridContext {
    margin-top: 48px;
    width: 100%;
    display: grid;
    grid-template-columns: 232px 232px 232px;
    column-gap: 48px;
  }
  .fullContext {
    margin-left: 48px;
    margin-right: 48px;
    padding-left: 0;
    .jobElementContainer {
      margin-top: 8px;
    }
  }
}
.line {
  background-color: #333;
  height: 3px;
  width: 70%;
  border-radius: 100%;
  margin: 12px 0 24px 0;
  box-shadow: var(--theme-shadow-light);
}
.jobImage {
  max-width: 100%;
  box-shadow: var(--theme-shadow-dark);
  border-radius: var(--round-medium);
}
.link {
  //transition: background-color 0.167s ease-in-out;
  padding: 32px;
}
.link:hover {
  background-color: var(--theme-secondary-background);
  box-shadow: var(--theme-shadow-dark);
  cursor: pointer;
  border-radius: var(--round-small);
  animation: lift 0.167s forwards;
  .textTeritary {
    color: var(--theme-white) !important;
  }
  .textTitle {
    color: var(--theme-white) !important;
  }
}
.hero-section {
  height: 100%;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  .center {
    margin: auto;
    max-width: 640px;
    text-align: center;
    align-items: center;
    row-gap: 32px;
    display: flex;
    flex-direction: column;
    border-radius: var(--round-large);
  }
  .titleContainer {
    width: 100%;
    display: flex;
    bottom: 15%;
    padding-top: 80px;
    .flex.column {
      text-align: center;
      margin: auto;
      row-gap: 32px;
      display: flex;
      flex-direction: column;
      border-radius: var(--round-large);
    }
    .headline.one {
      font-size: 60px;
      font-family: "Jura", sans-serif;
      color: var(--theme-text-title);
      font-weight: bold;
    }
    .headline.two {
      font-size: 40px;
      color: var(--theme-text-primary);
      font-weight: bold;
    }
  }
}
.hero-section.B {
  .headline {
    color: #5d18b6;
  }
}
.hero-section.C {
  background-color: var(--theme-secondary-background);
  box-shadow: 0px 0px 32px rgba(0, 5, 92, 0.32),
    0px 0px 64px rgba(8, 0, 46, 0.42);
  .center {
    .link:hover {
      background-color: var(--theme-white);
      .headline.textTeritary {
        color: var(--theme-black) !important;
      }
      .textTitle {
        color: var(--theme-text-secondary) !important;
      }
    }
    .textTitle {
      color: var(--theme-text-secondary) !important;
    }
    li {
      .textTeritary {
        color: var(--theme-white) !important;
      }
    }
  }
}
.hero-section.darkPurple {
  background-color: #14001c;
}
.hero-section.Purple {
  height: 100%;
  background-color: var(--theme-teritary);
  transform: scale(2);
  margin-bottom: 100%;
}
.hero-section.White {
  height: 100%;
  background-color: var(--theme-white);
  transform: scale(2);
  margin-bottom: 100%;
  svg {
    transform: scale(2);
  }
}
.contactButton {
  position: absolute;
  top: 90%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  border: 1px solid var(--theme-white);
  background-color: transparent;
  color: var(--theme-white);
  font-size: var(--font-medium);
  padding: 8px 32px;
  border-radius: var(--round-small);
  transition: all 0.267s ease-in-out;
  height: 48px !important;
  &.active {
    position: fixed;
    left: 90%;
    top: 28px;
    background-color: var(--theme-secondary-background);
    color: var(--theme-white);
    border-color: var(--theme-secondary-background);
  }
  &:hover {
    background-color: var(--theme-white);
    color: var(--theme-text-teritary);
    border-color: var(--theme-text-secondary);
    cursor: pointer;
  }
}
.headline.one.textSecondary {
  font-family: "Jura", sans-serif;
  font-size: 80px;
}
.spin {
  animation: spin 10s infinite ease;
}
@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@media only screen and (max-width: 1400px) {
  .hero-section.White {
    transform: scale(1.8);
  }
}
@media only screen and (max-width: 800px) {
  .hero-section.White {
    transform: scale(0.8);
  }
}
@media only screen and (max-width: 1000px), screen and (max-height: 1000px) {
  .hero-section.B,
  .hero-section.C {
    padding: 30% 0;
    height: auto;
  }
}
