.mainContent.Sales {
  padding: 0px !important;
  background: none !important;
  position: relative;
  display: flex;
  height: 100%;
  overflow: hidden !important;
  .salesContainer {
    height: 100%;
  }
  .bodyContainer {
    z-index: 10;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 64px;
    margin: auto;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    .left {
      position: absolute;
      display: flex;
      left: 8px;
      top: 8px;

      > svg {
        fill: var(--light);
        background-image: linear-gradient(
          to right,
          var(--theme-secondary) 0%,
          var(--theme-primary) 50%,
          var(--theme-primary) 100%
        );
        padding: 8px;
      }
      .headline.six {
        margin: auto 8px;
        font-weight: bold;
      }
    }
    > svg {
      min-height: 100% !important;
      min-width: 100% !important;
      position: absolute;
      z-index: -1;
    }
    .pictureContent {
      height: fit-content;
      width: 600px;
      margin: 128px auto;
      position: relative;
      display: grid;
      grid-template-columns: 292px 292px;
      column-gap: 16px;
      row-gap: 128px;
      align-items: center;
      > img {
        max-width: 292px;
        box-shadow: var(--shadow-light);
        border-radius: var(--round-medium);
      }
      h1, h2, h3, h4, h5, .headline {
        text-align: center;
      }
    }
    .videoContent {
      .designButton {
        margin-top: 24px;
      }
    }
    .videoContent,
    .salesContent {
      height: fit-content;
      width: 900px;
      margin: 128px auto;
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 16px;
      align-items: center;
      h1, h2, h3, h4, h5, .headline {
        text-align: center;
      }
      > h1, .headline.one {
        margin-top: 120px;
      }
      h1, .headline.one {
        font-size: 80px;
        line-height: 88px;
        .blue {
          color: var(--theme-secondary);
        }
      }
      h2, .headline.two {
        font-size: 64px;
        line-height: 64px;
        margin-top: 64px;
      }
      a {
        margin-top: 128px;
        animation: fadeSlideLeft 0.167s forwards;
      }
    }
  }
}
.pillButton {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: var(--font-large);
  text-shadow: var(--shadow-dark);
  text-transform: uppercase;
  border-radius: 6px;
  margin: 8px auto;
  padding: 8px 24px;
  width: fit-content;
  background-size: 300% 300%;
  color: white;
  box-shadow: var(--shadow-dark);
  transition: 0.5s;
  &:hover {
    cursor: pointer;
  }
}
.designButton {
  display: block;
  text-align: center;
  text-decoration: none;
  font-weight: 800;
  font-size: var(--font-xlarge);
  text-shadow: var(--shadow-dark);
  text-transform: uppercase;
  border-radius: 6px;
  margin: 8px;
  padding: 16px 48px;
  background-size: 300% 300%;
  color: white;
  box-shadow: var(--shadow-dark);
  transition: 0.5s;
  &:hover {
    cursor: pointer;
  }
}
.funButton {
  background-image: repeating-linear-gradient(
    -45deg,
    #7bdff2 10px 30px,
    #b2f7ef 30px 50px,
    #eff7f6 50px 70px,
    #f7d6e0 70px 90px,
    #f2b5d4 90px 110px
  );
  background-position: right center;
}
.funButton:hover {
  background-position: 90% center;
}
.gradientButton {
  background-image: linear-gradient(
    to right,
    #d12584 0%,
    #f6b9f8 50%,
    #e777eb 100%
  );
  &:hover {
    background-position: right center !important;
  }
}
.gradientButtonBrown {
  text-transform: uppercase;
  border-radius: 6px;
  background-size: 300% 300%;
  transition: 0.5s;
  padding: 16px 8px;
  align-items: flex-end;
  background-image: linear-gradient(
    to right,
    #fff5e0 0%,
    #fffeff 50%,
    #fff5e0 100%
  );
  flex: 0.8;
  h1, h2, h3, h4, h5, .headline {
    pointer-events: none;
  }
  .addButton {
    pointer-events: none;
  }
  &:hover {
    cursor: pointer;
    background-position: right center !important;
  }
}
.gradient {
  background-image: linear-gradient(
    to right,
    var(--theme-secondary) 0%,
    var(--theme-secondary) 50%,
    var(--theme-secondary) 100%
  );
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  svg:nth-child(1) {
    left: 0;
    height: 100%;
    width: 200px;
    position: absolute;
    animation: fadeIn 2.167s forwards;
  }
  svg:nth-child(2) {
    right: 0;
    height: 100%;
    width: 200px;
    position: absolute;
    animation: fadeIn 2.167s forwards;
  }
}
.flex {
  column-gap: 24px;
}
.candy {
  color: var(--theme-primary);
  text-shadow: var(--shadow-light);
}
.shop {
  padding: 8px;
  color: var(--light);
  box-shadow: var(--shadow-light);
  background-position: left center;
  font-weight: bolder;
  min-width: 240px;
  max-width: fit-content;
  border-radius: var(--round-medium);
  background-image: repeating-linear-gradient(
    -45deg,
    #7bdff2 10px 30px,
    #b2f7ef 30px 50px,
    #eff7f6 50px 70px,
    #f7d6e0 70px 90px,
    #f2b5d4 90px 110px
  );
  background-position: right center;
  > h1, .headline.one {
    background: var(--background-primary);
    color: var(--theme-secondary);
    border-radius: var(--round-medium);
    text-shadow: var(--shadow-light);
    box-shadow: var(--shadow-light);
    padding: 0 8px;
  }
}
@keyframes slideRight {
  0% {
    right: -200px;
    opacity: 0;
  }
  100% {
    right: 0;

    opacity: 1;
  }
}
.salesTopBar {
  width: 100%;
  position: fixed;
  z-index: 15;
  padding-top: 24px;
  padding-bottom: 4px;
  height: fit-content;
  display: flex;
  justify-content: center;
  column-gap: 16px;
  margin-right: 32px;
  background: #fff0f0;

  .topBarOptionBackground {
    .topBarOption {
      padding: 2px 16px;
      background: #fff0f0;
      height: 36px;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    &.selected {
      background-image: repeating-linear-gradient(
        -45deg,
        #7bdff2 10px 20px,
        #b2f7ef 20px 30px,
        #eff7f6 30px 40px,
        #f7d6e0 40px 50px,
        #f2b5d4 50px 60px
      );
      border-radius: var(--round-medium);
      height: 36px;
      .topBarOption {
        height: 32px;
      }
    }
  }
}
.salesContainer.About {
  .pictureContent {
    width: 900px !important;
    grid-template-columns: auto auto !important;
    row-gap: 40px;
    > img {
      max-width: 400px !important;
      margin-right: 16px;
      float: left;
    }
  }
}
.quote {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  h2, .headline.two {
  }
  h4, .headline.four {
  }
}
.flex {
  .candy {
    transform: translateY(8px);
  }
}
.candyCardContainer {
  position: relative;
  margin-top: 40px;
  overflow: hidden;
  border-radius: var(--round-large);
  .candyCardBackground {
    background-image: repeating-linear-gradient(
      -45deg,
      #fff5e0 10px 20px,
      #b2f7ef 20px 30px,
      #9b753d 30px 40px,
      #fff5e0 40px 50px,
      #f2b5d4 50px 60px
    );
    padding: 8px;
    position: relative;
  }
  .candyCard {
    display: flex;
    flex-wrap: nowrap;
    border-radius: var(--round-large);
    box-shadow: var(--shadow-dark);
    background: #fffbf7;
    min-height: 160px;
    overflow: hidden;
    .addButton {
      width: 40px;
      height: 40px;
      padding: 4px;
      font-size: var(--font-xlarge);
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .imgContainer {
      display: flex;
      flex-direction: column;
      position: relative;
      flex: 2;
      img {
        max-height: 225px;
        width: 100%;
        box-shadow: var(--shadow-light);
      }
      .readMore {
        position: absolute;
        text-align: center;
        font-weight: 700;
        color: var(--light);
        background: var(--text-headline);
        opacity: 0;
        transition: 0.167s;
        height: 24px;
        width: 100%;
        bottom: 0;
      }

      &:hover {
        cursor: pointer;
        .readMore {
          opacity: 0.9;
          box-shadow: var(--shadow-dark);
        }
      }
    }

    h2, .headline.two {
      margin-top: 8px !important;
      font-size: var(--font-large) !important;
    }
    h3, .headline.three {
      margin: 4px 0;
    }
    .pillButton {
      margin-top: auto;
    }
  }
  .descriptionCardPositioner {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    background: rgba(51, 51, 51, 0.3);
  }
  .descriptionCardBackground {
    width: 90%;
    margin: auto;
    padding: 8px;
    border-radius: var(--round-medium);
    box-shadow: var(--shadow-light);

    background-image: repeating-linear-gradient(
      -45deg,
      #fff5e0 10px 20px,
      #b2f7ef 20px 30px,
      #9b753d 30px 40px,
      #fff5e0 40px 50px,
      #f2b5d4 50px 60px
    );
  }
  .descriptionCard {
    padding: 16px 8px;
    box-sizing: border-box;
    height: 100%;
    background-image: linear-gradient(
      to right,
      #fff5e0 0%,
      #fffeff 50%,
      #fff5e0 100%
    );
  }
}

.cartBall {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 4px;
  color: var(--light);
  background: var(--theme-primary);
  opacity: 1;
  transition: all 0.67s ease-in;
  animate: grow 0.167s forwards;
  &.animate {
    left: 94% !important;
    top: 96px !important;
  }
}
.cart {
  display: flex;
  align-items: center;
  position: absolute;
  right: 48px;
  padding: 8px;
  background: var(--text-headline-secondary);
  border-radius: var(--round-medium);
  transition: 0.3s;
  z-index: 9999;
  top: 12px;
  h4, .headline.four {
    margin-right: 8px;
    color: var(--light);
  }
  > svg {
    fill: var(--light);
  }
  background-size: 300% 300%;
  background-image: linear-gradient(
    to right,
    #d12584 0%,
    #f6b9f8 50%,
    #e777eb 100%
  );
  &.pop {
    top: 16px !important;
  }
  &:hover {
    background-position: right center !important;
    cursor: pointer;
  }
}
.cartDropdown {
  right: 24px;
  top: 72px;
  position: absolute;
  background: var(--background-secondary);
  box-shadow: var(--shadow-light);
  max-height: 400px;
  width: 400px;
  z-index: 9999;
  border-radius: var(--round-large);
  overflow: hidden;
  display: grid;
  grid-template-rows: 64px auto 64px;
  animation: fadeSlideLeft 0.167s forwards;
  .cartHeader {
    position: relative;
    height: 64px;
    h2, .headline.two {
      box-sizing: border-box;
      padding: 8px 16px;
      box-shadow: var(--shadow-dark);
      z-index: 2;
      position: absolute;
      width: 400px;
      border: 2px solid #9b753d;
      border-top-left-radius: var(--round-large);
      border-top-right-radius: var(--round-large);
    }
  }

  .cartChildren {
    min-height: 80px;
    max-height: 256px;
    background: var(--background-primary);
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 8px;
    overflow-y: auto;
    position: relative;
    padding: 8px;
    .cartItem {
      width: 100%;
      max-height: 80px;
      display: flex;
      background-image: linear-gradient(
        to right,
        #fff5e0 0%,
        #fffeff 50%,
        #fff5e0 100%
      );
      border-radius: var(--round-medium);
      position: relative;
      box-sizing: border-box;
      padding-right: 32px;
      > img {
        width: 120px;
        height: 80px;
        border-radius: var(--round-medium);
      }
      .rightPositioner {
        right: 8px;
        top: 8px;
      }
    }
    h4, .headline.four {
      padding: 2px 8px;
      max-width: 128px;
    }
    .center {
      margin: auto;
      display: flex;
      flex-direction: column;
      padding: 16px 0;
      > svg {
        margin: auto;
      }
    }
  }
  .footer {
    box-sizing: border-box;
    height: 64px;
    padding: 4px 16px 0 8px;
    border: 2px solid #9b753d;
    border-bottom-left-radius: var(--round-large);
    border-bottom-right-radius: var(--round-large);
    .button {
      border-radius: 25px;
    }
    h3, .headline.three {
      float: right;
    }
  }
  .contextMenu {
    position: absolute;
    background: var(--background-primary);
    padding: 8px;
    display: flex;
    flex-direction: column;
    min-width: 120px;
    right: 8px;
    border-radius: var(--round-small);
    box-shadow: var(--shadow-light);
    animation: fadeSlideLeft 0.167s forwards;
    .contextMenuItem {
      padding: 4px 8px;
      text-transform: uppercase;
      min-width: max-content;
      &:hover {
        background: var(--theme-secondary);
        color: var(--light);
        cursor: pointer;
      }
    }
  }
}
.unactiveImg {
  transition: all 0.5s ease;
  left: 0px;
  position: absolute;
}
.activeImg {
  left: -400px;
}
.mobileCardContainer {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  border-radius: var(--round-large);
  .candyCardBackground {
    background-image: repeating-linear-gradient(
      -45deg,
      #fff5e0 10px 20px,
      #b2f7ef 20px 30px,
      #9b753d 30px 40px,
      #fff5e0 40px 50px,
      #f2b5d4 50px 60px
    );
    padding: 8px;
    position: relative;
  }
  .candyCard {
    display: grid;
    grid-template-rows: 216px 80px;
    border-radius: var(--round-large);
    box-shadow: var(--shadow-dark);
    background: #fffbf7;
    min-height: 296px;
    overflow: hidden;
    .gradientButtonBrown {
      max-height: 80px;
      margin-top: auto;
    }
    .addButton {
      margin: 8px 8px 8px auto;
      padding: 8px;
      font-size: var(--font-xlarge);
      font-weight: 600;
      height: 40px;
      display: flex;
    }
    .imgContainer {
      display: flex;
      position: relative;
      img {
        height: 224px;
        max-height: 224px;
        width: 100%;

        box-shadow: var(--shadow-light);
      }
      .readMore {
        position: absolute;
        text-align: center;
        font-weight: 700;
        color: var(--light);
        background: var(--text-headline);
        opacity: 0.8;
        transition: 0.167s;
        height: 24px;
        width: fit-content;
        padding: 0 8px;
        bottom: 0;
      }

      &:hover {
        cursor: pointer;
        .readMore {
          opacity: 0.9;
          box-shadow: var(--shadow-dark);
        }
      }
    }

    h2, .headline.two {
      margin-top: 8px !important;
      font-size: var(--font-large) !important;
    }
    h3, .headline.three {
      margin: auto 0;
    }
    .pillButton {
      margin-top: auto;
    }
  }
  .descriptionCardBackground {
    width: 90%;
    margin: auto;
    padding: 8px;
    border-radius: var(--round-medium);
    box-shadow: var(--shadow-light);

    background-image: repeating-linear-gradient(
      -45deg,
      #fff5e0 10px 20px,
      #b2f7ef 20px 30px,
      #9b753d 30px 40px,
      #fff5e0 40px 50px,
      #f2b5d4 50px 60px
    );
  }
  .descriptionCard {
    padding: 32px 16px 8px 16px;
    box-sizing: border-box;
    height: 100%;
  }
}
@media only screen and (max-width: 1000px), screen and (max-height: 600px) {
  .mainContent.Sales {
    .mobileCardContainer {
      max-width: 360px;
    }
    .cartDropdown {
      right: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      max-height: 100%;
      .rightPositioner {
        display: flex;
        column-gap: 16px;
      }
      .cartHeader {
        h2, .headline.two {
          width: 100%;
        }
      }
      .cartChildren {
        max-height: 100%;
      }
    }
    h1, .headline.one {
      font-size: var(--font-xlarge) !important;
    }
    .cartBall.animate {
      left: 80% !important;
      top: 128px !important;
    }
    .candyCardContainer {
      .candyCard {
        grid-template-columns: auto !important;
      }
    }
    .cart {
      top: 52px !important;
      right: 8px !important;
    }
    .designButton {
      padding: 16px !important;
    }
    .salesContent {
      margin-top: 120px !important;
      width: 100% !important;
      > .flex {
        flex-direction: column;
      }
    }
    .pictureContent {
      width: 100% !important;
      max-width: 600px;
      grid-template-columns: auto !important;
      row-gap: 16px !important;
      img {
        max-width: 360px !important;
        margin-right: 0 !important;
        justify-self: center;
      }
      img:nth-child(3) {
        margin-top: 128px;
      }
    }
    .videoContent {
      width: 100% !important;
      max-width: 600px;
      iframe {
        width: 100% !important;
      }
    }
    .salesTopBar {
      padding-top: 8px !important;
      transform: translateY(-1px);
    }
    .background {
      svg {
        width: 100px !important;
      }
    }
  }
}
