.mainContent.Spooky {
  padding: 0 !important;
  > .headline.one {
    position: absolute;
    z-index: 10;
    text-align: center;
    color: var(--theme-text-title);
    text-shadow: 0 1px 3px var(--theme-text-teritary),
      0 1px 4px var(--theme-secondary);
  }
  .spookyContent {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    .background {
      width: 100%;
      height: 100%;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .window {
      text {
        opacity: 0;
      }
      &:hover {
        cursor: pointer;
        text {
          opacity: 1;
          animation: spookyTextAbove 5s infinite ease-in-out;
          transition: 0.267s ease;
        }
        polygon {
          fill: var(--theme-white) !important;
        }
        path {
          fill: var(--theme-white) !important;
        }
      }
    }
    .circleWindowNew {
      text {
        opacity: 0;
      }
      &:hover {
        cursor: pointer;
        text {
          opacity: 1;
          animation: spookyTextAbove 5s infinite ease-in-out;
        }
        ellipse {
          fill: var(--theme-white) !important;
        }
      }
    }
  }
}
.cloud {
  position: absolute;
  top: -10px;
  > svg {
    width: 200px;
    height: 200px;
  }
}
.cloud.left {
  left: 0;
}
.cloud.right {
  right: 0;
  transform: rotateY(180deg);
}
.spookyModal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  .spookyModalContent {
    margin: auto;
    z-index: 99;
    animation: grow 0.167s forwards;
    background-color: var(--theme-secondary-background-transparent);
    width: 600px;
    height: 900px;
    padding: 48px;
    border: 2px solid var(--theme-teritary);
    animation: spookySmoke 10s infinite both;
    position: relative;
    .spookyIcon {
      position: absolute;

      margin: 16px;
      > svg {
        fill: var(--theme-teritary);
      }
    }
    .spookyIcon.left {
      left: 0;
      top: 0;
    }
    .spookyIcon.right {
      right: 0;
      top: 0;
    }
    .spookyIcon.right:hover {
      cursor: pointer;
      > svg {
        fill: var(--theme-text-teritary);
      }
    }
    .spookyIcon.bottomRight {
      bottom: 0;
      right: 0;
    }
    .spookyIcon.bottomLeft {
      bottom: 0;
      left: 0;
    }
    > .headline.three {
      margin-top: 32px;
    }
    .headline.one {
      text-align: center;
      color: var(--theme-text-teritary);
      font-size: 48px;
    }
    .headline.two {
      margin-bottom: 16px;
    }
    .headline {
      text-align: center;
    }
    .headline.five:hover {
      cursor: pointer;
    }
    .context {
      margin-top: 32px;
      hr {
        margin: 24px auto;
      }
    }
    .bullet {
      margin-top: 16px;
    }
    .ticket {
      padding-top: 8px;
      background-color: var(--theme-secondary);
      margin: 0 16px;
      margin-top: 32px;
      pointer-events: all;
      .headline.three {
        margin-top: 8px;
      }
      .headline.five {
        margin-top: 16px;
        padding: 2px 0;
        &:hover {
          background-color: var(--theme-secondary);
        }
      }
    }
    .ticket.primary {
      margin: 32px 0 0 0;
      background-color: var(--theme-primary);
    }
    .ticket:hover {
      background-color: var(--theme-teritary);
      cursor: pointer;
      animation: lift 0.167s forwards;
    }
  }
}
.mobileSpookyButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: linear-gradient(var(--theme-primary), var(--theme-teritary));
  margin-top: 16px;
  font-size: var(--font-xlarge);
  color: var(--theme-text-title);
  box-shadow: var(--theme-shadow-light);
}
@media only screen and (max-width: 1000px) {
  .mainContent.Spooky {
    #TitleText {
      margin-top: 48px;
    }
    .cloud {
      svg {
        width: 100px;
        height: 100px;
      }
    }
  }
  .spookyModalContent {
    padding: 8px !important;
    width: 100% !important;
    height: 100% !important;
    overflow-y: auto;
    .ticket {
      margin-top: 8px !important;
    }
  }
  .spookyContent {
    .background {
      height: 60% !important;
      width: 80% !important;
      margin: 0 auto;
      position: relative;
      margin-bottom: -16px;
    }
  }
  /*
  .window.one {
    text {
      animation: spookyTextAboveMobile 5s -4s infinite ease-in-out !important;
    }
  }
  .window.two {
    text {
      animation: spookyTextAboveMobile 5s -0.5s infinite ease-in-out !important;
    }
  }
  .window.three {
    text {
      animation: spookyTextAboveMobile 5s -2s infinite ease-in-out !important;
    }
  }
  .window.four {
    text {
      animation: spookyTextAboveMobile 5s -6s infinite ease-in-out !important;
    }
  }
  .circleWindowNew {
    text {
      animation: spookyTextAboveMobile 5s -3s infinite ease-in-out !important;
    }
  }
  .window,
  .circleWindowNew {
    text {
      opacity: 1 !important;
    }
  }*/
}
