.mainContent.Spooky {
  padding: 0 !important;
  > h1, .headline.one {
    position: absolute;
    z-index: 10;
    text-align: center;
    color: var(--text-headline);
    text-shadow: 0 1px 3px var(--text-body),
      0 1px 4px var(--theme-secondary);
  }
  .spookyContent {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;

    .background {
      width: 100%;
      height: 100%;
      svg {
        width: 100%;
        height: 100%;
      }
    }
    .window {
      text {
        opacity: 0;
      }
      &:hover {
        cursor: pointer;
        text {
          opacity: 1;
          animation: spookyTextAbove 5s infinite ease-in-out;
          transition: 0.267s ease;
        }
        polygon {
          fill: var(--light) !important;
        }
        path {
          fill: var(--light) !important;
        }
      }
    }
    .circleWindowNew {
      text {
        opacity: 0;
      }
      &:hover {
        cursor: pointer;
        text {
          opacity: 1;
          animation: spookyTextAbove 5s infinite ease-in-out;
        }
        ellipse {
          fill: var(--light) !important;
        }
      }
    }
  }
}
.cloud {
  position: absolute;
  top: -10px;
  > svg {
    width: 200px;
    height: 200px;
  }
}
.cloud.left {
  left: 0;
}
.cloud.right {
  right: 0;
  transform: rotateY(180deg);
}
.spookyModal {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  .spookyModalContent {
    margin: auto;
    z-index: 99;
    animation: grow 0.167s forwards;
    background: var(--background-modal);
    width: 600px;
    height: 900px;
    padding: 48px;
    border: 2px solid var(--theme-secondary);
    animation: spookySmoke 10s infinite both;
    position: relative;
    .spookyIcon {
      position: absolute;

      margin: 16px;
      > svg {
        fill: var(--theme-secondary);
      }
    }
    .spookyIcon.left {
      left: 0;
      top: 0;
    }
    .spookyIcon.right {
      right: 0;
      top: 0;
    }
    .spookyIcon.right:hover {
      cursor: pointer;
      > svg {
        fill: var(--text-body);
      }
    }
    .spookyIcon.bottomRight {
      bottom: 0;
      right: 0;
    }
    .spookyIcon.bottomLeft {
      bottom: 0;
      left: 0;
    }
    > h3, .headline.three {
      margin-top: 32px;
    }
    h1, .headline.one {
      text-align: center;
      font-size: 48px;
    }
    h1, h2, h3, h4, h5, .headline {
      text-align: center;
    }
    h5:hover {
      cursor: pointer;
    }
    .context {
      margin-top: 32px;
      hr {
        margin: 24px auto;
      }
    }
    .bullet {
      margin-top: 16px;
    }
    .ticket {
      padding-top: 8px;
      background: var(--theme-secondary);
      margin: 0 16px;
      margin-top: 32px;
      pointer-events: all;
      transition: all 0.267s ease;
      h3, .headline.three {
        margin-top: 8px;
      }
      h5, .headline.five {
        margin-top: 16px;
        padding: 2px 0;
        &:hover {
          background: var(--theme-secondary);
        }
      }
    }
    .ticket.primary {
      margin: 32px 0 0 0;
      background: var(--theme-primary);
    }
    .ticket:hover {
      background: var(--action-primary);
      cursor: pointer;
      transform: translateY(-2px);
    }
  }
}
.spooky-button-container {
  padding: 0 16px 16px 16px;
}
.mobileSpookyButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background: linear-gradient(var(--theme-primary), var(--theme-secondary));
  font-size: var(--font-huge);
  color: var(--text-headline);
  box-shadow: var(--shadow-light);
  border-radius: var(--round-medium);
}
@media only screen and (max-width: 900px), screen and (max-height: 600px) {
  .mainContent.Spooky {
    #TitleText {
      margin-top: 48px;
    }
    .cloud {
      svg {
        width: 100px;
        height: 100px;
      }
    }
  }
  .spookyModalContent {
    padding: 8px !important;
    width: 90% !important;
    height: 90% !important;
    overflow-y: auto;
    .ticket {
      margin-top: 8px !important;
    }
  }
  .spookyContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .background {
      height: 50% !important;
      width: 80% !important;
      margin: 0 auto;
      position: relative;
    }
  }
}
