.sideBarContainer {
  height: 100%;
  transition: all 0.167s ease-in-out;
  .secondarySideBarContent {
    position: absolute;
    transition: all 0.167s ease-in-out;
    height: calc(100% - 96px);
    min-width: 164px;
    z-index: 9;
    box-sizing: border-box;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--theme-secondary-background);
    box-shadow: var(--theme-shadow-light);
    animation: fadeInSecondary 0.167s forwards;
    & .sideNavButton {
      width: 100%;
      height: 32px;
      margin: 16px 0;
      display: flex;
      .navButtonIcon {
        margin: auto 16px;
        svg {
          fill: var(--theme-text-primary);
        }
      }
      .navButtonLabel {
        animation: fadeIn 0.167s forwards;
        animation-delay: 0.2s;
        opacity: 0;
        color: var(--theme-text-primary);
      }
    }
  }
  @keyframes fadeInSecondary {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .sideBarContent {
    position: absolute;
    transition: all 0.167s ease-in-out;
    height: calc(100% - 96px);
    z-index: 10;
    box-sizing: border-box;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--theme-primary-background);
    box-shadow: var(--theme-shadow-light);
  }
}
.sideBarHeader {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px auto;
  svg {
    fill: var(--theme-primary);
    width: 48px;
    height: 48px;
    margin: 8px auto;
  }
  > .headline {
    text-align: center;
    color: var(--theme-primary);
    padding: 0 16px;
  }
}
.sideBarContainer.collapsed {
  width: 96px;
  min-width: 96px;

  .sideBarContent {
    width: 96px;
    min-width: 96px;
  }
  .secondarySideBarContent {
    left: 96px;
  }
}
.sideBarContainer.open {
  width: 164px;
  min-width: 164px;
  .sideBarContent {
    width: 164px;
    min-width: 164px;
  }
  .secondarySideBarContent {
    left: 164px;
    & .sideNavButton {
      width: 100%;
      height: 32px;
      margin: 16px 0;
      display: flex;
      .navButtonIcon {
        margin: auto 16px;
      }
      .navButtonLabel {
        animation: fadeIn 0.167s forwards;
        animation-delay: 0s;
        opacity: 0;
        color: var(--theme-text-primary);
      }
    }
  }
  & .sideNavButton {
    width: 100%;
    height: 32px;
    margin: 16px 0;
    display: flex;
    .navButtonIcon {
      margin: auto 16px;
    }
    .navButtonLabel {
      animation: fadeIn 0.167s forwards;
      animation-delay: 0.2s;
      opacity: 0;
    }
  }
}
.pullOutPositioner {
  position: absolute;
  z-index: 11;
  left: 80px;
  top: 112px;
  transition: all 0.167s ease-in-out;
  border-radius: 50%;
  background-color: var(--theme-primary-background);
  box-shadow: var(--theme-shadow-light);
  padding: 4px;
  height: 24px;
  width: 24px;
  svg {
    transition: all 0.167s ease-in-out;
    height: 24px;
    width: 24px;
    fill: var(--theme-primary);
  }
  &:hover {
    background-color: var(--theme-secondary-background);
    cursor: pointer;
  }
}
.flipHorz {
  transform: rotateY(180deg);
}
.flip {
  svg {
    transform: rotateZ(180deg);
  }
  left: 148px !important;
}
hr {
  border-top: 1px solid var(--theme-border);
  width: 70%;
  margin: 16px auto;
}
.sideNavButton.selected {
  background-color: var(--theme-text-placeholder);
  .navButtonIcon {
    svg {
      fill: var(--theme-text-primary);
    }
  }
  .navButtonLabel {
    color: var(--theme-text-primary);
  }
}
.sideNavButton {
  width: 32px;
  height: 32px;
  margin: 16px auto;
  display: flex;
  transition: all 0.167s ease-in-out;
  .navButtonIcon {
    transition: all 0.167s ease-in-out;
    margin: auto;
    svg {
      fill: var(--theme-text-placeholder);
    }
  }
  .navButtonLabel {
    transition: all 0.167s ease-in-out;
    margin: auto 0;
    height: fit-content;
    color: var(--theme-text-placeholder);
  }
}

.sideNavButton:hover {
  cursor: pointer;
  background-color: var(--theme-button-success) !important;
  .navButtonIcon {
    svg {
      fill: var(--theme-button-success-text) !important;
    }
  }
  .navButtonLabel {
    color: var(--theme-button-success-text) !important;
  }
}
.cardScrollContent {
  margin-top: 48px;
  max-height: 100%;
}
.newsContent {
  display: flex;
  margin-bottom: 24px;
  padding: 8px;
  border-radius: var(--round-small);
}
.newsContent:hover {
  border: 2px solid var(--theme-teritary);
  padding: 6px;
  cursor: pointer;
}
.newsImg {
  width: 96px;
  height: 48px;
  padding: 0 8px;
}

.investmentCard {
  padding: 16px 24px 24px 24px;
  box-shadow: var(--theme-shadow-light);
  border-radius: var(--round-medium);
  display: flex;
  flex-direction: column;
  min-height: 320px;
  min-width: 280px;
  svg {
    fill: var(--theme-white) !important;
    margin-left: auto;
    margin-top: auto;
  }
  .one {
    margin-top: 16px;
  }
  .headline {
    color: var(--theme-white);
  }
  &.Increase {
    background: linear-gradient(#a3ff87, #55e22a);
  }
  &.Decrease {
    background: linear-gradient(#fa9292, #f82f2f);
  }
  &.None {
    background: linear-gradient(#ffb77c, #f7903b);
  }
}
@media only screen and (max-width: 1000px), screen and (max-height: 1000px) {
  .card {
    .headline.two {
      margin-bottom: 0 !important;
      position: relative !important;
      align-self: flex-start !important;
    }
  }

  .cardContainer:not(.cardContainer:first-child) {
    margin-top: 0 !important;
  }
}
