.tutorialControl {
  position: fixed;
  z-index: 99;
  transition: all 0.167s ease-in-out;
  right: -160px;
  bottom: 56px;
  height: 56px;
  background-color: var(--theme-button-primary);
  width: 200px;
  display: grid;
  grid-template-columns: 40px auto;
  grid-template-rows: auto;
  border-top-left-radius: var(--round-medium);
  border-bottom-left-radius: var(--round-medium);
  box-shadow: var(--theme-shadow-light);
  > svg {
    margin: auto;
    fill: var(--theme-white);
  }
  .tutorialTextContainer {
    background-color: var(--theme-button-secondary);
    width: 100%;
    height: 100%;
    display: flex;
    > .headline.two {
      margin: auto;
      color: var(--theme-white);
    }
  }
}

.tutorialControl:hover {
  cursor: pointer;
  right: 0;
  box-shadow: var(--theme-shadow-dark);
}
