.top-bar-v2 {
    background: transparent;
    position: fixed;
    bottom: 8px;
    right: 16px;
    padding: 4px 8px;
    z-index: var(--layer-5);
    color: var(--text-sub-body);
    h5, .headline.five {
        color: var(--sidebar-button-text);
    }
    &.mobile {
        background: var(--sidebar-button);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        bottom: 0px;
        right: 0px;
        width: 100%;
        align-items: center;
    }
    .top-bar-button {
        border-radius: var(--round-small);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        background: var(--sidebar-button);
        color: var(--sidebar-button-text);
        &.open {
            background: var(--sidebar-button-selected);
            color: var(--sidebar-button-selected-text);
        }
    }
}