.navButton {
  display: flex;
  padding: 8px 24px;
  align-items: center;
  &:hover {
    cursor: pointer;
    background: var(--action-primary);
  }
  .navButtonIcon {
    width: fit-content;
    height: 16px;
    margin: auto 8px;
    color: var(--text-menu);
  }
  &.active {
    background: var(--selected-menu-gradient);
  }
  .navButtonLabel {
    font-size: var(--font-medium);
    font-weight: bold;
    color: var(--text-menu);
    margin: auto 2px;
  }
  .navButtonDropdownArrow {
    padding: 4px 6px;
    margin: auto 0 auto 8px;
    border-radius: var(--round-small);
    display: flex;
    svg {
      font-size: 16px;
      margin: auto;
      fill: var(--text-menu);
    }
  }
}
.basicNavButton.open {
  background: var(--action-primary);
  .navButtonLabel {
    color: var(--light);
  }
  .navButtonDropdownArrow {
    svg {
      fill: var(--light);
    }
  }
}
.navButtonContextContainer {
  position: absolute;
  z-index: 99;
  transition: all 0.167s forwards;
  animation: fadeIn 0.167s ease-in-out;
  background: var(--background-modal);
}