.vertical {
  min-height: 100%;
}
.horizontal {
}
.navBarContainer {
  height: 56px;
  justify-content: center;
  column-gap: 16px;
  display: flex;
}
.navBarLabel {
  padding: 16px 16px 4px 16px;
  box-sizing: border-box;
  height: 48px;
}
.Arcade {
  .navBarLabel {
    font-size: var(--font-large);
  }
}
.navBar.horizontal {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.renderContainer.horizontal {
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 900px), screen and (max-height: 600px) {
  .navBarContainer {
    width: 100%;
  }
  .navBar.horizontal {
    grid-template-columns: auto;
  }
}
