.sideBarContainer {
  height: 100%;
  transition: all 0.167s ease-in-out;
  .secondarySideBarContent {
    position: absolute;
    transition: all 0.167s ease-in-out;
    margin-top: 16px;
    border-top: 2px solid var(--theme-primary);
    border-bottom: 2px solid var(--theme-primary);
    height: calc(100% - 124px);
    min-width: 164px;
    z-index: 9;
    box-sizing: border-box;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    background: var(--background-secondary);
    box-shadow: var(--shadow-dark);

    & .sideNavButton {
      width: 100%;
      height: 32px;
      margin: 16px 0;
      display: flex;
      .navButtonIcon {
        margin: auto 8px;
        svg {
          fill: var(--text-sub-headline);
        }
      }
      .navButtonLabel {
        animation: fadeIn 0.167s forwards;
        animation-delay: 0.2s;
        opacity: 0;
        color: var(--text-sub-headline);
      }
    }
  }
  .secondarySideBarContent.open {
    transform: translateX(0px);
  }
  .secondarySideBarContent.close {
    transform: translateX(-200px);
  }
  @keyframes fadeInSecondary {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .sideBarContent {
    position: absolute;
    transition: all 0.167s ease-in-out;
    height: calc(100% - 96px);
    z-index: 10;
    box-sizing: border-box;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    background: var(--background-primary);
    box-shadow: var(--shadow-light);
  }
}
.sideBarHeader {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px auto;
  svg {
    fill: var(--theme-primary);
    width: 48px;
    height: 48px;
    margin: 8px auto;
  }
  h1, h2, h3, h4, h5, .headline {
    text-align: center;
    color: var(--theme-primary);
  }
}
.sideBarContainer.collapsed {
  width: 96px;
  min-width: 96px;

  .sideBarContent {
    width: 96px;
    min-width: 96px;
  }
  .secondarySideBarContent {
    left: 94px;
  }
}
.sideBarContainer.open {
  width: 164px;
  min-width: 164px;
  .sideBarContent {
    width: 164px;
    min-width: 164px;
  }
  .secondarySideBarContent {
    left: 162px;
    & .sideNavButton {
      box-sizing: border-box;
      width: 100%;
      height: 32px;
      margin: 16px 0;
      padding: 0 16px;
      display: flex;
      .navButtonIcon {
        margin: auto 8px auto 0;
      }
      .navButtonLabel {
        animation: fadeIn 0.167s forwards;
        animation-delay: 0s;
        opacity: 0;
        color: var(--text-sub-headline);
      }
    }
  }
  & .sideNavButton {
    width: 100%;
    height: 32px;
    margin: 16px 0;
    display: flex;
    .navButtonIcon {
      margin: auto 16px;
    }
    .navButtonLabel {
      animation: fadeIn 0.167s forwards;
      animation-delay: 0.2s;
      opacity: 0;
    }
  }
}
.pullOutPositioner {
  position: absolute;
  z-index: 11;
  left: 80px;
  top: 112px;
  transition: all 0.167s ease-in-out;
  border-radius: 50%;
  background: var(--background-primary);
  box-shadow: var(--shadow-light);
  padding: 4px;
  height: 24px;
  width: 24px;
  svg {
    transition: all 0.167s ease-in-out;
    height: 24px;
    width: 24px;
    fill: var(--theme-primary);
  }
  &:hover {
    background: var(--background-secondary);
    cursor: pointer;
  }
}
.flip {
  svg {
    transform: rotateZ(180deg);
  }
  left: 148px !important;
}
hr {
  border-top: 1px solid var(--input-border);
  width: 70%;
  margin: 16px auto;
}
.sideNavButton.selected {
  background: var(--theme-secondary);
  .navButtonIcon {
    svg {
      fill: var(--light);
    }
  }
  .navButtonLabel {
    color: var(--light);
  }
}
.sideNavButton {
  width: 32px;
  height: 32px;
  margin: 16px auto;
  display: flex;
  transition: all 0.167s ease-in-out;
  .navButtonIcon {
    transition: all 0.167s ease-in-out;
    margin: auto;
    display: flex;
    svg {
      margin: auto;
      fill: var(--text-placeholder);
    }
  }
  .navButtonLabel {
    transition: all 0.167s ease-in-out;
    margin: auto 0;
    height: fit-content;
    color: var(--text-placeholder);
  }
}

.sideNavButton:hover {
  cursor: pointer;
  background: var(--action-primary) !important;
  .navButtonIcon {
    svg {
      fill: var(--light) !important;
    }
  }
  .navButtonLabel {
    color: var(--light) !important;
  }
}
//vars
$fg: var(--theme-primary);
$bg: #009688;
$pi: 3.14;

//config
$menu-items: 4;
$open-distance: 105px;
$opening-angle: $pi * 2;

%goo {
  filter: url("#shadowed-goo");
  // debug
  //background:rgba(255,0,0,0.2);
}
%gooball {
  background: $fg;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  transform: translate3d(0, 0, 0);
  transition: transform ease-out 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-open {
  display: none;
}
.menu-item {
  @extend %gooball;
}
.hamburger {
  $width: 25px;
  $height: 3px;
  width: $width;
  height: $height;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -$width/2;
  margin-top: -$height/2;
  transition: transform 200ms;
}
$hamburger-spacing: 8px;
.hamburger-1 {
  transform: translate3d(0, -$hamburger-spacing, 0);
}
.hamburger-2 {
  transform: translate3d(0, 0, 0);
}
.hamburger-3 {
  transform: translate3d(0, $hamburger-spacing, 0);
}
.menu-open:checked + .menu-open-button {
  .hamburger-1 {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
  .hamburger-2 {
    transform: translate3d(0, 0, 0) scale(0.1, 1);
  }
  .hamburger-3 {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }
}
.menu {
  @extend %goo;
  $width: 80px;
  $height: 80px;
  position: fixed;
  right: 24px;
  bottom: 72px;
  width: $width;
  height: $height;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
  z-index: 99;
}

.menu-item {
  &:hover {
    background: white;
    color: $fg;
    cursor: pointer;
  }
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 180ms;
    }
  }
}

.menu-open-button {
  @extend %gooball;
  z-index: 2;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 400ms;
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.menu-open-button:hover {
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
  transition-timing-function: linear;
  transition-duration: 200ms;
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  @for $i from 1 through $menu-items {
    &:nth-child(#{$i + 2}) {
      transition-duration: 90ms+ (80ms * $i);
      transform: translate3d(0, (-80px * $i), 0);
    }
  }
}
