.editor-variations {
    align-items: center;
    .variation-option {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        line-height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        font-size: 14px;
        transition: all 0.267s ease !important;
        position: relative;
        .closePositioner {
            opacity: 0 !important;
            transition: opacity 0.267s ease;
        }
        &:hover {
            background: var(--action-primary);
            color: var(--light);
            cursor: pointer;
            .closePositioner {
                opacity: 1 !important;
            }
        }
        &.selected {
            background: var(--selected-secondary);
            color: var(--light);
        }
    }
    .add-variation {
        border-radius: 50%;
        width: 24px;
        height: 24px;
        line-height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;
        transition: all 0.267s ease !important;
        cursor: pointer;
        svg {
            fill: var(--action-secondary);
        }
        &:hover {
            background: var(--action-primary);
            svg {
                fill: var(--light);
            }
        }
    }
}