@import './color-variables.scss';
h1, h2, h3, h4, h5,.headline {
  margin: 0;
}
body {
  overflow: hidden;
}
@mixin fontMixin($size, $weight) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: 0;
  line-height: $size;
}
h1, .headline.one {
  @include fontMixin(var(--font-huge), 500);
  color: var(--text-headline);
}
h2, .headline.two {
  @include fontMixin(var(--font-xlarge), 600);
  color: var(--text-headline);
}
h3, .headline.three {
  @include fontMixin(var(--font-large), 500);
  color: var(--text-headline-secondary);
}
h4, .headline.four {
  @include fontMixin(var(--font-medium), 500);
  color: var(--text-headline-secondary);
}
h5, .headline.five {
  @include fontMixin(var(--font-medium), 500);
  color: var(--text-headline-secondary);
}
.subHeadlineBold {
  @include fontMixin(var(--font-small), 600);
  color: var(--text-sub-headline);
}
.subHeadlineMedium {
  @include fontMixin(var(--font-small), 500);
  color: var(--text-sub-headline);
}
.subHeadlineLight {
  @include fontMixin(var(--font-small), 400);
  color: var(--text-sub-headline);
}
.bodyBold {
  @include fontMixin(var(--font-xsmall), 600);
  color: var(--text-body);
}
.bodyMedium {
  @include fontMixin(var(--font-xsmall), 500);
  color: var(--text-body);
}
.bodyLight {
  @include fontMixin(var(--font-xsmall), 400);
  color: var(--text-sub-body);
}

.inputName {
  font-size: var(--font-medium);
  line-height: 16px;
}
.link {
  color: var(--action-secondary);
  &:hover {
    cursor: pointer;
  }
}
.text-headline {
  color: var(--text-headline);
}
.text-headline-secondary {
  color: var(--text-headline-secondary);
}
.text-sub-headline {
  color: var(--text-sub-headline);
}
.text-body {
  color: var(--text-body);
}
.text-sub-body {
  color: var(--text-sub-body);
}
.text-placeholder {
  color: var(--text-placeholder);
}
.text-menu {
  color: var(--text-menu);
}
.button {
  padding: 4px 24px;
  min-width: 98px;
  border-radius: var(--round-small);
  min-height: 40px;
  width: auto;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  border: none;
  color: var(--light);
  transition: all 0.267s ease;
  &:hover {
    filter: brightness(1.2);
  }
  &.icon {
    width: fit-content;
    height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    border: none !important;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  &:hover {
    cursor: pointer;
  }
}
.button.circle {
  min-width: 60px;
  max-height: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 100%;
}
.button.primary {
  background: var(--action-primary);
  color: var(--light);
  
}
.button.transparent {
  background: transparent;
}
.button.secondary {
  background: var(--action-secondary);
}
.button.option {
  background: var(--action-option);
}
.button.success {
  background: var(--action-success);
}
.button.info {
  background: var(--action-info);
}
.button.warning {
  background: var(--action-warning);
}
.disabled {
  background: var(--action-disabled);
  pointer-events: none;
  color: var(--text-placeholder);
}
.pill {
  padding: 6px 12px;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--round-medium);
  width: fit-content;
  min-width: 64px;
  text-align: center;
  display: flex;
  justify-content: center;
  column-gap: 4px;
  &.active {
    color: var(--light);
    animation: flippy 0.267s forwards;
  }
  &:hover {
    color: var(--light);
    cursor: pointer;
  }
}
.pill.Success {
  border-color: var(--action-success);
  color: var(--action-success);
  &.active {
    background: var(--action-success);
  }
  &:hover {
    background: var(--action-success);
  }
}
.pill.Info {
  border-color: var(--action-info);
  color: var(--action-info);
  &.active {
    background: var(--action-info);
  }
  &:hover {
    background: var(--action-info);
  }
}
.pill.Warning {
  border-color: var(--action-warning);
  color: var(--action-warning);
  &.active {
    background: var(--action-warning);
  }
  &:hover {
    background: var(--action-warning);
  }
}
.pill.Error {
  border-color: var(--action-error);
  color: var(--action-error);
  &.active {
    background: var(--action-error);
  }
  &:hover {
    background: var(--action-error);
  }
}
.pill0 {
  border-color: var(--misc-0);
  color: var(--misc-0);
  &.active {
    background: var(--misc-0);
  }
  &:hover {
    background: var(--misc-0);
  }
}
.pill1 {
  border-color: var(--misc-1);
  color: var(--misc-1);
  &.active {
    background: var(--misc-1);
  }
  &:hover {
    background: var(--misc-1);
  }
}
.pill2 {
  border-color: var(--misc-2);
  color: var(--misc-2);
  &.active {
    background: var(--misc-2);
  }
  &:hover {
    background: var(--misc-2);
  }
}
.pill3 {
  border-color: var(--misc-3);
  color: var(--misc-3);
  &.active {
    background: var(--misc-3);
  }
  &:hover {
    background: var(--misc-3);
  }
}
.pill4 {
  border-color: var(--misc-4);
  color: var(--misc-4);
  &.active {
    background: var(--misc-4);
  }
  &:hover {
    background: var(--misc-4);
  }
}
.pill5 {
  border-color: var(--misc-5);
  color: var(--misc-5);
  &.active {
    background: var(--misc-5);
  }
  &:hover {
    background: var(--misc-5);
  }
}
.pill6 {
  border-color: var(--misc-6);
  color: var(--misc-6);
  &.active {
    background: var(--misc-6);
  }
  &:hover {
    background: var(--misc-6);
  }
}
.pill7 {
  border-color: var(--misc-7);
  color: var(--misc-7);
  &.active {
    background: var(--misc-7);
  }
  &:hover {
    background: var(--misc-7);
  }
}
.pill8 {
  border-color: var(--misc-8);
  color: var(--misc-8);
  &.active {
    background: var(--misc-8);
  }
  &:hover {
    background: var(--misc-8);
  }
}
.pill9 {
  border-color: var(--misc-9);
  color: var(--misc-9);
  &.active {
    background: var(--misc-9);
  }
  &:hover {
    background: var(--misc-9);
  }
}
.hidden {
  display: none !important;
}
.verticalLine {
  position: relative;
  min-height: 100%;
  width: 2px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  .line {
    border-right: 2px solid var(--text-placeholder);
    min-height: 50%;
    width: 100%;
  }
}
.horizonalLine {
  position: relative;
  min-width: 100%;
  height: 2px;
  .line {
    border-top: 2px solid var(--text-placeholder);
    min-width: 50%;
    height: 100%;
  }
}
.flex{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.noWrap{
  flex-wrap: nowrap !important;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}
.flexColumn{
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
}
.flexSB {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.flexFull{
  width: 100%;
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 4px), 1fr) );
  grid-column: 1/-1;
  &.threeColumns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
    div:nth-child(3n - 2):last-child {
      grid-column-end: span 3;
    }
  }
}
.tooltip {
  &.warning {
    background: var(--action-warning);
  }
}
.pushToBottom {
  margin-top: auto;
}
@media only screen and (max-width: 900px), screen and (max-height: 600px) {
  .flexFull {
    grid-template-columns: auto;
    &.threeColumns {
      grid-template-columns: repeat(auto-fit, minmax(calc(50% - 4px), 1fr) );
      div:nth-child(3n - 2):last-child {
        grid-column-end: auto;
      }
      div:nth-child(2n - 1):last-child {
        grid-column-end: span 2;
      }
    }
  }
  .flexSB{
    flex-direction: column;
    > .button {
      width: 100%;
    }
  }
  .flex > .button {
    width: 100%;
  }
  .flex{
    flex-wrap: wrap;
    width: 100%;
    > .button {
      width: 100%;
    }
  }
}
@media only screen and (max-width: 600px), screen and (max-height: 400px) {
  .flexFull {
    &.threeColumns {
      display: flex;
      flex-direction: column;
    }
  }
}