@import './color-variables.scss';
h1, h2, h3, h4, h5,.headline {
  margin: 0;
}
body {
  overflow: hidden;
}
@mixin fontMixin($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: 0;
  line-height: $size;
  color: $color;
}
.background-theme-primary {
  background: var(--theme-primary) !important;
}
.background-theme-secondary {
  background: var(--theme-secondary) !important;
}
.background-primary {
  background: var(--background-primary) !important;
}
.background-secondary {
  background: var(--background-secondary) !important;
}
.background-teritary {
  background: var(--background-teritary) !important;
}
.background-card {
  background: var(--background-card) !important;
}
h1, .headline.one {
  @include fontMixin(var(--font-huge), 500, var(--text-headline));
}
h2, .headline.two {
  @include fontMixin(var(--font-xlarge), 600, var(--text-headline));
}
h3, .headline.three {
  @include fontMixin(var(--font-large), 700, var(--text-headline-secondary));
}
h4, .headline.four {
  @include fontMixin(var(--font-medium), 600, var(--text-headline-secondary));
}
h5, .headline.five {
  @include fontMixin(var(--font-medium), 700, var(--text-headline-secondary));
}
.subHeadlineBold {
  @include fontMixin(var(--font-small), 600, var(--text-sub-headline));
}
.subHeadlineMedium {
  @include fontMixin(var(--font-small), 500, var(--text-sub-headline));
}
.subHeadlineLight {
  @include fontMixin(var(--font-small), 400, var(--text-sub-headline));
}
.bodyBold {
  @include fontMixin(var(--font-xsmall), 600, var(--text-body));
}
.bodyMedium {
  @include fontMixin(var(--font-xsmall), 500, var(--text-body));
}
.bodyLight {
  @include fontMixin(var(--font-xsmall), 400, var(--text-body));
}

.inputName {
  font-size: var(--font-medium);
  line-height: 16px;
}
.link {
  color: var(--action-secondary);
  &:hover {
    cursor: pointer;
  }
}
@mixin textMixin($color) {
  color: $color;
  * {
    color: $color;
  }
}
.text-headline {
  @include textMixin(var(--text-headline));
}
.text-headline-secondary {
  @include textMixin(var(--text-headline-secondary));
}
.text-sub-headline {
  @include textMixin(var(--text-sub-headline));
}
.text-body {
  @include textMixin(var(--text-body));
}
.text-sub-body {
  @include textMixin(var(--text-sub-body));
}
.text-placeholder {
  @include textMixin(var(--text-placeholder));
}
.text-menu {
  @include textMixin(var(--text-menu));
}
.text-input-label {
  @include textMixin(var(--input-label));
}
@mixin buttonMixin($backgroundColor, $color) {
  background: $color;
  color: $backgroundColor;
  fill: $backgroundColor;
  border: 2px solid $backgroundColor;
  * {
    color: $backgroundColor;
    fill: $backgroundColor;
  }
  &:hover {
    background: $backgroundColor;
    color: $color;
    fill: $color;
    * {
      color: $color;
      fill: $color;
    }
  }
}
.button {
  background: var(--action-option);
  padding: 2px 12px;
  min-width: 56px;
  width: fit-content;
  border-radius: var(--round-small);
  min-height: 36px;
  max-height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0px;
  font-weight: 400;
  border: none;
  color: var(--light);
  transition: all 0.267s ease;
  &:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
  }
  &.icon {
    width: fit-content;
    height: fit-content;
    min-width: fit-content;
    min-height: fit-content;
    border: none !important;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  &:hover {
    cursor: pointer;
  }
}
.button.circle {
  min-width: 60px;
  max-height: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 100%;
}
.button.primary {
  @include buttonMixin(var(--action-primary), white);
}
.button.transparent {
  background: transparent;
}
.button.secondary {
  @include buttonMixin(var(--action-secondary), white);
}
.button.option {
  @include buttonMixin(var(--action-option), white);
}
.button.success {
  @include buttonMixin(var(--action-success), white);
}
.button.info {
  @include buttonMixin(var(--action-info), white);
}
.button.warning {
  @include buttonMixin(var(--action-warning), white);
}
.background-transparent {
  background: transparent !important;
}
.disabled {
  background: var(--action-disabled);
  pointer-events: none;
  color: var(--text-placeholder);
}
@mixin pillColoring($color) {
  border-color: $color !important;
  background: $color !important;
  color: white !important;
  &.active {
    background: $color !important;
  }
  &:hover {
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, 0.02) 100%) !important;
  }
}
.pill.Success {
  @include pillColoring(var(--action-success));
}
.pill.Info {
  @include pillColoring(var(--action-info));
}
.pill.Warning {
  @include pillColoring(var(--action-warning));
}
.pill.Error {
  @include pillColoring(var(--action-error));
}
.pill-0 {
  @include pillColoring(var(--misc-0));
}
.pill-1 {
  @include pillColoring(var(--misc-1));
}
.pill-2 {
  @include pillColoring(var(--misc-2));
}
.pill-3 {
  @include pillColoring(var(--misc-3));
}
.pill-4 {
  @include pillColoring(var(--misc-4));
}
.pill-5 {
  @include pillColoring(var(--misc-5));
}
.pill-6 {
  @include pillColoring(var(--misc-6));
}
.pill-7 {
  @include pillColoring(var(--misc-7));
}
.pill-8 {
  @include pillColoring(var(--misc-8));
}
.pill-9 {
  @include pillColoring(var(--misc-9));
}
.hidden {
  display: none !important;
}
.verticalLine {
  position: relative;
  min-height: 100%;
  width: 2px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
  .line {
    border-right: 2px solid var(--text-placeholder);
    min-height: 50%;
    width: 100%;
  }
}
.horizonalLine {
  position: relative;
  min-width: 100%;
  height: 2px;
  .line {
    border-top: 2px solid var(--text-placeholder);
    min-width: 50%;
    height: 100%;
  }
}
.flex{
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}
.noWrap{
  flex-wrap: nowrap !important;
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}
.noGap {
  gap: 0px !important;
}
.gap4 {
  gap: 4px !important;
}
.gap16 {
  gap: 16px !important;
}
.gap24 {
  gap: 24px !important;
}
.flexColumn{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-wrap: wrap;
}
.flexSB {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.flexFull{
  width: 100%;
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 4px), 1fr) );
  grid-column: 1/-1;
  &.threeColumns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
    div:nth-child(3n - 2):last-child {
      grid-column-end: span 3;
    }
  }
}
.flex-block, .flex-block-lock {
  width: 100%;
  gap: 32px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(50% - 16px), 1fr) );
  grid-column: 1/-1;
}
.img-common {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.tooltip {
  &.warning {
    background: var(--action-warning);
  }
}
.pushToBottom {
  margin-top: auto;
}
.noSelect {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.background-defaults, .image {
  object-fit: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.float-top-right {
  position: absolute;
  right: 12px;
  top: 12px;
}
@media only screen and (max-width: 900px), screen and (max-height: 600px) {
  .flex-block {
    grid-template-columns: auto;
  }
  .flexFull {
    grid-template-columns: auto;
    &.threeColumns {
      grid-template-columns: repeat(auto-fit, minmax(calc(50% - 4px), 1fr) );
      div:nth-child(3n - 2):last-child {
        grid-column-end: auto;
      }
      div:nth-child(2n - 1):last-child {
        grid-column-end: span 2;
      }
    }
    &.noCollapse {
      grid-template-columns: repeat(auto-fit, minmax(calc(50% - 4px), 1fr) ) !important;
    }
    div:nth-child(2n - 1):last-child {
      grid-column-end: span 2;
    }
  }
  .flex > .button {
    width: 100%;
  }
  .flex{
    > .button {
      width: 100%;
    }
  }
}
