.inputName {
  font-size: var(--font-medium);
  line-height: 16px;
}
.link {
  color: var(--theme-secondary);
  &:hover {
    cursor: pointer;
  }
}
.textTitle {
  color: var(--theme-text-title);
}
.textPrimary {
  color: var(--theme-text-primary);
}
.textHighContrast {
  color: var(--theme-high-contrast);
}
.textMedContrast {
  color: var(--theme-med-contrast);
}
.textLowContrast {
  color: var(--theme-low-contrast);
}
.textSecondary {
  color: var(--theme-text-secondary);
}
.textPlaceholder {
  color: var(--theme-text-placeholder);
}

.buttonBase {
  padding: 4px 24px;
  min-width: 98px;
  border-radius: var(--round-small);
  min-height: 40px;
  width: auto;
  max-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0px;
  font-weight: 400;
}
.buttonBase:hover {
  cursor: pointer;
}
.buttonBase.circle {
  min-width: 60px;
  max-height: 60px;
  height: 60px;
  padding: 8px;
  border-radius: 100%;
}
.buttonBase.primary {
  background-color: var(--theme-button-primary);
  color: var(--theme-button-primary-text);
  border: 1px solid var(--theme-med-contrast);
}
.buttonBase.primary:hover {
  background-color: var(--theme-button-primary-text);
  color: var(--theme-button-primary);
  border: 1px solid var(--theme-button-primary-text);
}
.buttonBase.transparent {
  background-color: transparent;
  border: none;
}
.buttonBase.transparent:hover {
  border: 1px solid var(--theme-button-secondary-text);
}
.buttonBase.secondary {
  background-color: var(--theme-button-secondary);
  color: var(--theme-button-secondary-text);
  border: 1px solid var(--theme-button-secondary-text);
}
.buttonBase.secondary:hover {
  background-color: var(--theme-button-secondary-text);
  color: var(--theme-button-secondary);
}
.buttonBase.secondaryAccent {
  background-color: var(--theme-button-secondary-accent);
  color: var(--theme-button-secondary-accent-text);
  border: 1px solid var(--theme-button-secondary-accent);
}
.buttonBase.secondaryAccent:hover {
  background-color: var(--theme-button-secondary-accent-text);
  color: var(--theme-button-secondary-accent);
}
.buttonBase.success {
  background-color: var(--theme-success);
  color: var(--theme-success-text);
  border: 1px solid var(--theme-success-text);
}
.buttonBase.success:hover {
  background-color: var(--theme-button-success-text);
  color: var(--theme-success);
}
.buttonBase.info {
  background-color: var(--theme-info);
  color: var(--theme-info-text);
  border: 1px solid var(--theme-info-text);
}
.buttonBase.info:hover {
  background-color: var(--theme-info-text);
  color: var(--theme-info);
}
.buttonBase.warning {
  background-color: var(--theme-warning);
  color: var(--theme-warning-text);
  border: 2px solid var(--theme-warning-text);
}
.buttonBase.warning:hover {
  background-color: var(--theme-warning-text);
  color: var(--theme-warning);
}
.buttonBase.disabled {
  background-color: var(--theme-disabled);
  color: var(--theme-disabled-text);
}
.buttonBase.disabled:hover {
  background-color: var(--theme-disabled-text);
  color: var(--theme-disabled);
}
.errorText {
  color: var(--theme-error);
}
.pill {
  padding: 4px 16px;
  border-width: 2px;
  border-style: solid;
  font-size: var(--font-medium);
  border-radius: var(--round-medium);
  width: fit-content;
  min-width: 64px;
  text-align: center;
}
.pill:hover {
  cursor: pointer;
}
.pill.Success {
  border-color: var(--theme-success);
  color: var(--theme-success);
  background-color: var(--theme-white);
  &:hover {
    border-color: var(--theme-white);
    color: var(--theme-white);
    background-color: var(--theme-success);
  }
}
.pill.Info {
  border-color: var(--theme-info);
  color: var(--theme-info);
  background-color: var(--theme-white);
  &:hover {
    border-color: var(--theme-white);
    color: var(--theme-white);
    background-color: var(--theme-info);
  }
}
.pill.Warning {
  border-color: var(--theme-warning);
  color: var(--theme-warning);
  background-color: var(--theme-white);
  &:hover {
    border-color: var(--theme-white);
    color: var(--theme-white);
    background-color: var(--theme-warning);
  }
}
.pill.Error {
  border-color: var(--theme-error);
  color: var(--theme-error);
  background-color: var(--theme-white);
  &:hover {
    border-color: var(--theme-white);
    color: var(--theme-white);
    background-color: var(--theme-error);
  }
}

.hidden {
  display: none !important;
}
